

<section class="parceiros">
  <div class="parceiros__intro">
    <h2>Parceiros</h2>

    <p>
  Na <strong>Architecture Technological</strong>, acreditamos que os melhores resultados são conquistados através de grandes parcerias.
  Trabalhamos lado a lado com empresas inovadoras, confiáveis e especialistas em suas áreas para entregar soluções completas, tecnológicas e de alto desempenho.
</p>




</div>
<swiper-container
class="parceiros-swiper"
slides-per-view="4"
space-between="24"
loop="true"
autoplay="true"
autoplay-delay="2500"
navigation="true"
#swiperEl
>
<swiper-slide *ngFor="let parceiro of parceiros">
<a [href]="parceiro.link" target="_blank" rel="noopener noreferrer">
<div class="logo-card" [style.backgroundColor]="parceiro.bgColor">
<img [src]="parceiro.logo" [alt]="parceiro.nome" class="logo" />
<span>{{ parceiro.nome }}</span>
</div>
</a>
</swiper-slide>

</swiper-container>
</section>






















LISTA DE PARCEIROS EM MENTE

<p>ESPETOKAS , MEDIA LABZ, DGA LOGISTICA, TRANSCARIOCA LOG, DUDU, LUCIANO FEFE,GRUPO DEMELO, OREIA CORTES, AUTOSAMPA  </p>

<!-- <section class="parceiros-intro">
  <h1>Nossos Parceiros</h1>
  <p>
    A <strong>Technology Architecture</strong> valoriza as parcerias que fortalecem nossos serviços e ampliam as soluções para nossos clientes.
    Trabalhamos com empresas líderes em tecnologia, design e marketing digital para entregar resultados excepcionais.
  </p>
</section>




<section class="parceiros-intro">
  <h1>Nossos Parceiros</h1>
  <p>
    A <strong>Technology Architecture</strong> valoriza as parcerias que fortalecem nossos serviços e ampliam as soluções para nossos clientes.
    Trabalhamos com empresas líderes em tecnologia, design e marketing digital para entregar resultados excepcionais.
  </p>
</section>

<section class="parceiros-grid">
  <div class="parceiro-card" *ngFor="let parceiro of parceiros">
    <img [src]="parceiro.logo" [alt]="parceiro.nome" />
    <p>{{ parceiro.nome }}</p>
  </div>
</section> -->
