
<div class="subheader">
<div>
  <p>Siga-nos nas redes sociais</p>
</div>

<div class="subheader__instagram">
  <a href="https://www.instagram.com/architecture_technological/" target="_blank"><img src="assets/icon-insta.svg" alt=""></a>
  <span>architecture_technological</span>
</div>
</div>

<div class="header">
  <div>
    <div>
      <a href=""><img src="assets/logo-technology-architecture.png" alt="Simbolo da empresa Technology Architecture" class="header__logo"></a>
    </div>
  </div>


  <div class="informacoes-contato-header">
    <div>
      <span>Horário de funcionamento</span>
      <p>Seg - Sáb  09H00 - 18H00</p>
    </div>

    <div>
      <div class="barra"></div>
    </div>


    <div>
      <span>Telefone</span>
      <p>(11) 99381-8546</p>
    </div>

    <div>
      <div class="barra"></div>
    </div>

    <div>
      <span>E-mail</span>
      <p>architecture_technological@outlook.com</p>
  </div>
  </div>
</div>






