<div class="header">

  <div class="header__logo">
    <a href="/"><img src="assets/tec-logo.png" alt=""></a>
  </div>

  <div class="header__options">
    <p class="chique-hover"><a href="/pagina-inicial">A empresa</a></p>
    <p class="chique-hover"><a href="/contato">Contato</a></p>
    <p class="chique-hover"><a href="/projetos">Projetos</a></p>
    <p class="chique-hover"><a href="/parceiros">Parceiros</a></p>
    <p class="chique-hover"><a href="/produtos">Produtos</a></p>
    <p class="chique-hover"><a href="/quem-somos">Quem somos</a></p>
  </div>

  <div class="header__button">
    <button><a href="">Receber análise gratuita</a></button>
  </div>

</div>



