.header{
  position: absolute;
  z-index: 100;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* 50% de transparência */


img {
  cursor: pointer;
}

&__options{
  display: flex;
  gap: 30px;

  .chique-hover {
  position: relative;
  display: inline-block;
  color: inherit;
  cursor: pointer;
  transition: color 0.3s ease;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #004aad;
    transition: width 0.3s ease;
  }

  &:hover::after {
    width: 100%;
  }
  a{
  font-family: "Poppins", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: #00000000;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
  }
}

}

&__button{

  button{
    padding: 20px;
    border-radius: 5px;
    background-color: #004aad;
    cursor: pointer;
    border: none;

    &:hover{
      background-color: #2170db;
    }

     &:active {
    transform: scale(0.98); // Feedback sutil ao clicar
  }

    a{
      text-decoration: none;
      color: #fff;
    }
  }
}
}
